<!--The content below is only a placeholder and can be replaced.-->
<!-- <section class="homecomponent">
  <div class="row">
    <div class="col span-1-of-3">
        <app-site></app-site>
    </div>
    <div class="col span-1-of-3">
            <app-site></app-site>
        </div>
        <div class="col span-1-of-3">
                <app-site></app-site>
            </div>
  </div>
  <div class="row">
        <div class="col span-1-of-3">
            <app-site></app-site>
        </div>
        <div class="col span-1-of-3">
                <app-site></app-site>
            </div>
            <div class="col span-1-of-3">
                    <app-site></app-site>
                </div>
    
      </div>
</section> -->
<!-- <div class="container">
    <div class="row">
      <button class="btn-primary btn">Test</button>
    </div>
</div>  -->

<section>
    <app-site></app-site>
</section>