.tileblue
{
    height: 300px;
    width: 20%;
    background-color: #2980b9;
    margin: 10px 1.5%;
    border-radius: 20px;
    float: left;
    padding:1%;
    box-shadow: 2px 2px #888888;
    
}
.tileblue:hover
{
    background-color: #3498db;
    
}
.tilegreen
{
    height: 300px;
    width: 20%;
    background-color: #27ae60;
    margin: 10px 1.5%;
    border-radius: 20px;
    float: left;
    padding:1%;
    box-shadow: 2px 2px #888888;
}
.tilegreen:hover
{
    background-color:#2ecc71;
}
.tileorange
{
    height: 300px;
    width:20%;
    background-color: #f39c12;
    margin: 10px 1.5%;
    border-radius: 20px;
    float: left;
    padding:1%;
    box-shadow: 2px 2px #27ae60;
}
.tileorange:hover
{
    background-color:#f1c40f
}

.tile-text{
    text-align: center;
    vertical-align: middle;
    font-size: 40px;
    padding-top: 40%;
    color: #fff;
}
.tile-text:hover{
    color: #000;
}
